body {
    margin: 0px;
    background-color: #0093E9;
    background-image: linear-gradient(160deg, #0093E9 55%, #FFF 80%);
    font-family: 'Roboto', sans-serif;
    height: 593px;
}
/*Index html */
.header-iniciarSesion {
    width: 100%;
    height: 80px;
    display: flex;
    justify-content: space-between;
}
.img-iniciarSesion {
    width: 200px;
    margin: 10px 0;
}
.ul-iniciarSesion, 
.li-IniciarSesion {
    list-style: none;
}
.a-iniciarSesion {
    text-decoration: none;
    color: #FFF;
}

.list-ul-iniciarSesion {
    background: #0093E9;
    list-style: none;
    display: flex;
    align-items: center;
    margin: 20px;
}
.list-li-IniciarSesion {
    margin: 8px 30px 0 30px;
    font-size: 17px;
    font-weight: 600;
    font-family: 'Lato';
    color: #FFF;
    background: transparent;
    border: 0;
}
.footer-iniciarSesion{
    width: 100%;
    height: 45px;
}

/*Perfil html */
.header {
    background-color: #0093E9;
    width: 100%;
    height: 80px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.header-img {
    width: 200px;
    margin-top: 10px;
    margin-left: 10px;
}
/*menu y icono de perfil*/
.header-menu {
    margin-right: 30px;
}
.header-menu ul {
    display: none;
    list-style: none;
    padding: 0px;
    position: absolute;
    width: 100px;
    text-align: right;
    margin: 0px 0px 0px -14px;
}
.header-menu:hover ul, ul:hover {
    display: block;
}
.header-menu li {
    margin: 10px 0px;
}
.header-menu li a {
    color: white;
    text-decoration: none;
}
.header-menu li a:hover{
    text-decoration: underline;
}
.header-menu--profile {
    margin: 8px;
    display: flex;
    align-items: center;
    cursor: pointer;
}
.header-menu--profile img {
    margin-right: 8px;
    width: 40px;
}
.header-menu--profile p{
    margin: 0px;
    color: white;
  }
/*buscador*/
.main {
    height: 300px;
    margin-top: 50px;
}

.main-title {
    color: white;
    font-size: 25px;
    text-align: center;
}

.input {
    background-color: rgba(255, 255, 255, 0.1);
    border: 2px solid white;
    border-radius: 28px;
    color: white;
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    height: 50px;
    padding: 0px 20px;
    width: 70%;
    outline: none;
    margin-left: 13%;
}

::placeholder {
    color: white;
}
