body {
    margin: 0px;
    background-color: #0093E9;
    background-image: linear-gradient(160deg, #0093E9 55%, #FFF 80%);
    font-family: 'Roboto', sans-serif;
    height: 593px;
}
/*Index html */
.header-iniciarSesion {
    width: 100%;
    height: 80px;
    display: flex;
    justify-content: space-between;
}
.img-iniciarSesion {
    width: 200px;
    margin: 10px 0;
}
.ul-iniciarSesion, 
.li-IniciarSesion {
    list-style: none;
}
.a-iniciarSesion {
    text-decoration: none;
    color: #FFF;
}

.list-ul-iniciarSesion {
    background: #0093E9;
    list-style: none;
    display: flex;
    align-items: center;
    margin: 20px;
}
.list-li-IniciarSesion {
    margin: 8px 30px 0 30px;
    font-size: 17px;
    font-weight: 600;
    font-family: 'Lato';
    color: #FFF;
    background: transparent;
    border: 0;
}
.footer-iniciarSesion{
    width: 100%;
    height: 45px;
}

/*Perfil html */
.header {
    background-color: #0093E9;
    width: 100%;
    height: 80px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.header-img {
    width: 200px;
    margin-top: 10px;
    margin-left: 10px;
}
/*menu y icono de perfil*/
.header-menu {
    margin-right: 30px;
}
.header-menu ul {
    display: none;
    list-style: none;
    padding: 0px;
    position: absolute;
    width: 100px;
    text-align: right;
    margin: 0px 0px 0px -14px;
}
.header-menu:hover ul, ul:hover {
    display: block;
}
.header-menu li {
    margin: 10px 0px;
}
.header-menu li a {
    color: white;
    text-decoration: none;
}
.header-menu li a:hover{
    text-decoration: underline;
}
.header-menu--profile {
    margin: 8px;
    display: flex;
    align-items: center;
    cursor: pointer;
}
.header-menu--profile img {
    margin-right: 8px;
    width: 40px;
}
.header-menu--profile p{
    margin: 0px;
    color: white;
  }
/*buscador*/
.main {
    height: 300px;
    margin-top: 50px;
}

.main-title {
    color: white;
    font-size: 25px;
    text-align: center;
}

.input {
    background-color: rgba(255, 255, 255, 0.1);
    border: 2px solid white;
    border-radius: 28px;
    color: white;
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    height: 50px;
    padding: 0px 20px;
    width: 70%;
    outline: none;
    margin-left: 13%;
}

::placeholder {
    color: white;
}
/*Carrusel de videos*/


/*1.- Width del 100% para que abarque toda la pantalla.
      2.- Con overflow establecemos la propiedad de scroll
      3.- padding del 30% para tener un margen de vista
      4.- Pos:Relative porque queremos que los elementos que hereden se ajusten con base en este elemento*/
    
      .carousel {
        width: 100%;
        overflow: scroll;
        padding: 30px;
        position: relative;
    }
    /* 1.- WhiteSpace nowrap Enlista todos los elementos en un solo renglón.
       2.- Establecemmos un pequeño espaciado entre los elementos de la lista.
       3.- Padding de 10px para evitar que se nos corte el elemento cuando hagamos hover
       4.-
       5.-*/
    
    .carousel-container {
        white-space: nowrap;
        margin: 70px 0px;
        padding: 10px;
    }
    /*
    
    
    */
    /* 1-3 Color, altura, anchura.
       4.- Qué tan curvo queremos nuestro borde
       5.- Overflow: Hidden Para que tome los estilos
       6.- Margin 10px separación entre elementos
       7.-InLineBlock: Un item al lado del otro
       8.-Cambia el icono del mouse cuando selecciona el elemento
       9.-Suaviza la transcisión para que se vea agradable
       10.- Ajusta los elementos para que no se salgan y empiecen de izq a derecha

    */
    
    .carousel-item {
        background-color: brown;
        width: 200px;
        height: 250px;
        border-radius: 30px;
        overflow: hidden;
        margin-right: 10px;
        display: inline-block;
        cursor: pointer;
        transition: 450ms;
        transform-origin: center left;
    }
    /*
    
    
    */
    /*
        Carousel hover.
        1.- Desplaza los elemenots hacia la derecha
        2.- ~ Selecciona todos los elementos excepto el elemento que está seleccionado
        3.-
    */
    
    .carousel-item:hover ~.carousel-item {
        transform: translate3d(100px, 0, 0);
    }
    /*
    
    */
    /*
        1.- Opacidad
    */
    
    .carousel-container:hover .carousel-item {
        opacity: .3;
    }
    /*
        1.- Escala en 1.5 la imagen seleccionada
        2.- Cuando se le haga hover a un elemento especīfico, pone la opacidad en 1.
    */
    
    .carousel-container:hover .carousel-item:hover {
        transform: scale(1.5);
        opacity: 1;
    }

    /*Se añaden las imagenes al carrusel*/
    .carousel-item-img{
        width: 200px;
        height: 250px;
        object-fit: cover;
    }
    
    .carousel-item-details{
        font-size: 10px;
        opacity: 0;
        transition: 450ms opacity;
        padding:10px;
        position:absolute;
        top:0;
        left:0;
        right:0;
        bottom:0;
        display:flex;
        flex-flow: column;
        justify-content: flex-end;
        color:white;
    }
    
    .carousel-item-details:hover{
        opacity: 1;
    }
    
    .carousel-item-details p{
        margin:2px 0px;
    }
    
    .carousel-item-details--title{
        font-size: 12px;
    }
    